@model GYM.Models.Invoice

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <h1>Eliminar</h1>
        <h3>¿Seguro que quieres eliminar este producto?</h3>
        <div class="card-body">
            <div>
                <h4>Factura</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.PaymentDate)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.PaymentDate)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Customer)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Customer.Name)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-action="Index" class="btn btn-info text-white" style="cursor:pointer">
                        Regresar a lista
                        <i class="fas fa-user"></i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
